asgiref==3.2.10
awsebcli==3.19.4
botocore==1.20.34
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
Django==3.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.5
django-session-timeout==0.1.0
future==0.16.0
idna==2.10
jmespath==0.10.0
pathspec==0.5.9
Pillow==7.2.0
pypiwin32==223
python-dateutil==2.8.1
python-decouple==3.4
pytz==2020.1
pywin32==300
PyYAML==5.3.1
requests==2.25.1
semantic-version==2.8.5
six==1.14.0
sqlparse==0.3.1
termcolor==1.1.0
urllib3==1.25.11
wcwidth==0.1.9
